@font-face {
  font-family: 'Spectral-Regular';
  src: url('../fonts/spectral/SpectralSC-Regular.ttf');
}

@font-face {
  font-family: 'Spectral-Bold';
  src: url("../fonts/spectral/SpectralSC-Bold.ttf");
}

@font-face {
  font-family: 'Spectral-Italic';
  src: url("../fonts/spectral/SpectralSC-Italic.ttf");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url("../fonts/montserrat/Montserrat-Italic.ttf");
}

@font-face {
  font-family: 'Tangerine-Bold';
  src: url("../fonts/tangerine/Tangerine-Bold.ttf");
}

@font-face {
  font-family: 'Tangerine-Regular';
  src: url("../fonts/tangerine/Tangerine-Regular.ttf");
}

$spectral-regular: 'Spectral-Regular', serif;
$spectral-bold: 'Spectral-Bold', serif;
$spectral-italic: 'Spectral-Italic', serif;

$montserrat-regular: 'Montserrat-Regular', sans-serif;
$montserrat-bold: 'Montserrat-Bold', sans-serif;
$montserrat-italic: 'Montserrat-Italic', sans-serif;

$tangerine-regular: 'Tangerine-Regular', cursive;
$tangerine-bold: 'Tangerine-Bold', cursive;


.text {
  &__body {
    &--regular {
      font-family: $montserrat-regular;
    }

    &--bold {
      font-family: $montserrat-bold;
    }

    &--italic {
      font-family: $montserrat-italic;
    }
  }

  &__header {
    &--regular {
      font-family: $spectral-regular;
    }

    &--bold {
      font-family: $spectral-bold;
    }

    &--italic {
      font-family: $spectral-italic;
    }
  }

  &__quote {
    &--regular {
      font-family: $tangerine-regular;
    }

    &--bold {
      font-family: $tangerine-bold;
    }
  }

  &__colour {
    &--dark {
      color: $dark;
    }

    &--medium {
      color: $medium;
    }

    &--parchment-dark {
      color: $parchment-dark
    }
  }
}

