.button {
  background-color: $parchment-dark;
  color: $parchment;
  border: 0 solid transparent;
  height: 40px;
  width: 90px;
  border-radius: 5px;
  font: $montserrat-regular;
  &:hover {
    background-color: black;
  }
  &--font{
    &__upper{
      text-transform: uppercase;
    }
  }
  &--state {
    &__transparent {
      background-color: transparent;
      border: 1px solid $parchment-dark!important;

      &:hover {
        background-color: $parchment-dark;
      }
    }
  }

  &--size {
    &__large {
      height: 50px;
      width: 150px;
    }
  }
}
