{
    "printWidth": 80,
    "trailingComma": "all",
    "singleQuote": true,
    "tabWidth": 4,
    "semi": true,
    "jsxSingleQuote": false,
    "tsxSingleQuote": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "tsxBracketSameLine": false,
    "arrowParens": "avoid"
  }