.container {
    position: 'relative';
    height: inherit;
    width: inherit;
    font-size: '1rem';

}

.shield {
    height: inherit;
    width: inherit;
    position: 'absolute';
}

.sword {
    height: inherit;
    width: inherit;
    position: 'absolute';
    z-index: 2;
}

.icon-style {
    position: absolute;
    font-size: 2rem;
    z-index: 10;
    color: 'white';
}