$colours: (
    papyrus-dark: #bd8d4c,
    papyrus-darker: #4e412e,
    papyrus-light: #F2E0C8,
    black: #000,
    offWhite: #fff,
    azureBlue: #00005c
);
// Important to override tailwindcss
@each $color, $value in $colours {
    .-#{$color} {
        &__text {
            color: $value!important;
        }

        &__background {
            background-color: $value!important;
        }
    }

}